.sidebar {
    flex: 3;
    margin: 20px;
    margin-bottom: 30px;
    background-color: #fbfbfb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebarItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebarTitle {
    margin: 10px;
    padding: 5px;
    width: 80%;
    border-top: 1px solid #a7a4a4;
    border-bottom: 1px solid #a7a4a4;
    font-family: 'Varela Round', sans-serif;
    font-size: 1rem;
    color: #555;
    line-height: 20px;
    text-align: center;
}

.sidebarItem > img {
    margin-top: 15px;
    height: 24rem;
    width: 20rem;
}

.sidebarItem > p {
    padding: 2.4rem;
    width: 80%;
    font-family: 'Montserrat', sans-serif;
    color: #555;
}

.sidebarList {
    list-style: none;
    margin-bottom: 2.4rem;
}

.sidebarListItem {
    display: inline-block;
    width: 50%;
    margin-top: 15px;
    cursor: pointer;
    color: #555;
    font-family: 'Montserrat', sans-serif;
}

.sidebarSocial {
    margin-top: 15px;
    width: 250px;
    display: flex;
    align-items: center;;
    justify-content: center;
}

.sidebarIcon {
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}